:root{
  --NavBar-background-color: #F5F5F5;
  --NavBar-active-font-color: #02224B;
  --NavBar-inactive-font-color: #57677B;
  --Button-background-color: #6175FC;
  --Button-background-color2: #4CB2F8;
  --Hero-boldText-color: #09C0FF;
  --natural-color:#FFFFFF;
  --Default-color:#DDDDDD;
  --Primary-color:#000000;
  --Secondary-color:#04234C;
  --Foot-color:#61B9D7;
  --Answer-background-color:#E9F4FF;
  --EncryptedPayment-color:#448297;
  --socialsandrewards-color :#407BFF;
  --cashback-color:#7F3E3B;
  --daily-reward-color:#9D7700;
  --Footer-link-color:#EFF1F3;



  --hero-background-color: rgba(255, 255, 255, 0.27);

}
.logo{
margin: 0 auto;
width: 151.41px;
height: 45px;
flex: none;
order: 0;
flex-grow: 0;
}
body{
  margin: 0;
  padding: 0;
}








.y{
  background-color: red;
}

/* Cober blur */
.body{
position: absolute;
width: 1440px;
height: 723px;
left: 0px;
top: 100px;
background: rgba(255, 255, 255, 0.27);
backdrop-filter: blur(18.9px);
}




